{% extends "base.html" %}
{% block content %}
{% load static %}
<br><br><br><br><br><br><br>
<style>
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 0 20px;
        font-size: 18px;
    }
    
    .content {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        color:balck,
    }
</style>

<div class="container">
    <div class="content">
        <p>At eat organic, we understand the importance of seamless and convenient payment options for our customers. That's why we offer a range of easy payment solutions to simplify your transactions and enhance your shopping experience.</p>
        <h3>Multiple Payment Methods</h3>
        <p>We accept various payment methods including credit/debit cards, PayPal, bank transfers, and more, ensuring flexibility and convenience for all customers</p>
        <h3>Secure Transactions</h3>
        <p> Your security is our top priority. Our payment gateways are encrypted to safeguard your sensitive information and protect against fraud.</p>
        <h3>One-Click Checkout</h3>
        <p>Say goodbye to lengthy checkout processes. With our one-click checkout option, you can complete your purchase in seconds, saving you time and hassle.</p>
        <h3>Recurring Payments</h3>
        <p>Set up recurring payments for subscription services effortlessly. Enjoy uninterrupted access to your favorite products or services without the need for manual payments each time</p>
        <h3>24/7 Support</h3>
        <p>Have questions or need assistance with payments? Our dedicated support team is available round-the-clock to provide prompt assistance and resolve any issues you may encounter.</p>
        <br>
        <h2>Why Choose Easy Payments?</h2>
        <p>Convenience: Enjoy hassle-free transactions with our user-friendly payment system.</p>
        <p>Security: Rest assured knowing that your payments are processed securely.</p>
        <p>Speed: Complete your transactions quickly and efficiently, allowing you to focus on what matters most.</p>
    </div>
</div>

{% endblock %}
