{% extends "base.html" %}
{% block content %}
{% load static %}
<br><br><br><br><br><br><br>
<style>
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 0 20px;
        font-size: 18px;
    }
    
    .content {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        color:balck,
    }
</style>

<div class="container">
    <div class="content">
        <h3>Benefits of Free Delivery:</h3>
        <p>Explain how offering free delivery benefits your customers. For example, it saves them money on shipping costs, enhances their overall shopping experience, and encourages them to make purchases.</p>

        <h3>Shipping Policy:</h3>
        <p>Provide details about your shipping policy, including estimated delivery times, shipping methods used, and any restrictions that may apply.</p>

        <h3>Customer Satisfaction Guarantee:</h3>
        <p>Assure customers that you prioritize their satisfaction by offering free delivery and highlight any additional guarantees or return policies you have in place.</p>

        <h3>Promotional Opportunities</h3>
        <p>Mention if free delivery is a limited-time promotion or if it's a permanent feature of your business. You could also include information about any upcoming sales or special events where free delivery may be available.</p>

        <h3>Conditions for Free Delivery:</h3>
        <p>Outline any conditions or requirements for free delivery, such as minimum order value, eligible locations, or specific products included in the offer.</p>

    </div>
</div>

{% endblock %}
