{% extends "base.html" %}
{% block content %}
{% load static %}
<!-- Banner Section Started-->
<section class="home" id="home">
    <div class="content">
        <h3>Explore, <span>Click,</span> Shop!!!</h3>
    </div>
</section>
<!-- Banner Section Ended-->

<!-- Features Section Started-->
<section class="features" id="features">
<h1 class="heading">Our <span>Features</span></h1>
<div class="box-container">
    <div class="box">
        <img src="{% static 'ec.jpg' %}">
        <h3>Genuine Products</h3>
        <p>A wide range of items</p>
        <a href="{% url 'featureFresh' %}" class="btn">Read More</a>
    </div>
    <div class="box">
        <img src="{% static 'feature-img-2.png' %}">
        <h3>Free Delivery</h3>
        <p>Outline any conditions or requirements for free delivery read more..</p>
        <a href="{% url 'freeDel' %}" class="btn">Read More</a>
    </div>
    <div class="box">
        <img src="{% static 'feature-img-3.png' %}">
        <h3>Easy Payments</h3>
        <p>At eat organic, we understand the importance of seamless and convenient payment options read more..</p>
        <a href="{% url 'easyPay' %}" class="btn">Read More</a>
    </div>
</div>

</section>
<!-- Features Section Ended-->

<!-- Category Section Started-->
  <section class="categories" id="categories">
    <h1 class="heading">Product <span>Categories</span></h1>
    <div class="box-container">
        {% for i in items %}
        <div class="box">
            <img src="/media/{{i.image}}">
            <h3>{{i.heading}}</h3>
            <p>{{i.offer}}</p>
            <a href="{% url 'product' %}" class="btn">Shop Now</a>
        </div>
        {% endfor %}
    </div>
</section> 
<!-- Category Section Ended-->

<!-- Product Section Started-->
<section class="products" id="products">
    <h1 class="heading">Our <span>Products</span></h1>
    
    <div class="swiper product-slider">
        <div class="swiper-wrapper">
            {% for product in products %}
            {% if product.category.name == "Mobiles" %}
            <div class="swiper-slide box">
                <img src="/media/{{ product.image }}">
                <h1>{{ product.name }}</h1>
                <div class="price">₹{{ product.price }}</div>
                <div class="stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half"></i>
                </div>
                <a href="{% url 'cart_add' product.id %}" class="btn">Add to Cart</a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="swiper product-slider">
        <div class="swiper-wrapper">
            {% for product in products %}
            {% if product.category.name == "Laptops" %}
            <div class="swiper-slide box">
                <img src="/media/{{ product.image }}">
                <h1>{{ product.name }}</h1>
                <div class="price">₹{{ product.price }}</div>
                <div class="stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half"></i>
                </div>
                <a href="{% url 'cart_add' product.id %}" class="btn">Add to Cart</a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="swiper product-slider">
            <div class="swiper-wrapper">
                {% for product in products %}
                {% if product.category.name == "Charger & Cables" %}
                <div class="swiper-slide box">
                    <img src="/media/{{ product.image }}">
                    <h1>{{ product.name }}</h1>
                    <div class="price">₹{{ product.price }}</div>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half"></i>
                    </div>
                    <a href="{% url 'cart_add' product.id %}" class="btn">Add to Cart</a>
                </div>
                {% endif %}
                {% endfor %}
            </div>
    </div>
</section>    

<!-- Product Section Ended-->

<!-- Review Section Started-->
<section class="review" id="review">
<h1 class="heading">Customer's <span>Review</span></h1>
<div class="swiper review-slider">
    <div class="swiper-wrapper">
        <div class="swiper-slide box">
            <img src="{% static 'profile.png' %}">
            <p>Great Products, Best offers and fast Delivery</p>
            <h3>Pratik Kokate</h3>
            <div class="stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half"></i>
            </div>
        </div>

        <div class="swiper-slide box">
            <img src="{% static 'profile.png' %}">
            <p>Genuine Products</p>
            <h3>Anand Gosavi</h3>
            <div class="stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half"></i>
            </div>
        </div>

        <div class="swiper-slide box">
            <img src="{% static 'profile.png' %}">
            <p>Best Products and great deals.</p>
            <h3>Harshal Khairnar</h3>
            <div class="stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half"></i>
            </div>
        </div>

        <div class="swiper-slide box">
            <img src="{% static 'profile.png' %}">
            <p>Best Offers</p>
            <h3>Somnath K</h3>
            <div class="stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half"></i>
            </div>
        </div>
    </div>
</div>
</section>

<!-- Review Section Ended-->

<!-- Blog Section Started-->

{% comment %} <section class="blogs" id="blogs">
<h1 class="heading">Our <span>Blogs</span></h1>
<div class="box-container">
    <div class="box">
        <img src="{% static 'blog-1.jpg' %}">
        <div class="content">
            <div class="icons">
                <a href="#"><i class="fa fa-user"></i>By User</a>
                <a href="#"><i class="fa fa-calendar"></i></a>
            </div>
            <h3>Fresh And Organic vegetables And Fruits</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, minima?</p>
            <a href="#" class="btn">Read More</a>
        </div>
    </div>

    <div class="box">
        <img src="{% static 'blog-2.jpg' %}">
        <div class="content">
            <div class="icons">
                <a href="#"><i class="fa fa-user"></i>By User</a>
                <a href="#"><i class="fa fa-calendar"></i></a>
            </div>
            <h3>Fresh And Organic vegetables And Fruits</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, minima?</p>
            <a href="#" class="btn">Read More</a>
        </div>
    </div>

    <div class="box">
        <img src="{% static 'blog-3.jpg' %}">
        <div class="content">
            <div class="icons">
                <a href="#"><i class="fa fa-user"></i>By User</a>
                <a href="#"><i class="fa fa-calendar"></i></a>
            </div>
            <h3>Fresh And Organic vegetables And Fruits</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, minima?</p>
            <a href="#" class="btn">Read More</a>
        </div>
    </div>

</div>
</section> {% endcomment %}

<!-- Blog Section Ended-->
{% endblock %}