{% extends "base.html" %}
{% block content %}
{% load static %}
<br><br><br><br><br>
<section class="categories" id="categories">
    <h1 class="heading">Product <span>Categories</span></h1>
    <div class="box-container">
        {% for i in items %}
        <div class="box">
             <img src="/media/{{i.image}}">
            <h3>{{i.heading}}</h3>
            <p>{{i.offer}}</p>
            <a href="{% url 'product' %}" class="btn">Shop Now</a>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock  %}