{% extends "base.html" %}
{% block content  %}
{% load static %}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f5f5f5;
      }
      
      .container {
        {% comment %} width:300px; {% endcomment %}
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      
      .thankyou {
        text-align: center;
        background-color: #fff;
        border-radius: 10px;
        padding: 40px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      }
      
      h1 {
        color: #333;
        font-size:40px;
      }

      p span{
        color:green;
        font-size:22px;
        
      }
      
      p {
        color: #666;
        font-size:18px;
        margin-top: 10px;
      }
      
</style>
<div class="container">
    <div class="thankyou">
      <h1>Thank You!</h1>
      <p><span>Congratulations!</span> Your order has been successfully placed with E-Cart. Thank you for choosing us</p>
    </div>
  </div>
{% endblock  %}